@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.App {
  text-align: center;
   
}

.App-logo {
  height: 40vmin;
}

#labelContraseña{
  width: 150px;
    margin-right: 1500px;
}

#contenedorLogin {
  position: absolute;
  top: 20%;
  left: 33%;
  width: 470px;
}

#formulario{
  height: 800px;
}

#correoElectronico {
  margin-right: 1500px;
  width: 250px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
